@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}
#conteudo{
    width: 100%;
    height: auto;
    display: flex;
    margin: 20px 0px;
}
#left{
    margin-top: 200px;
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#left h2{
    color: #284CB2;
    font-size: 30px;
}
#left a{
    width: 30%;
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color:#2bb381;
    border-radius: 10px;
    font-size: 24px;
}
#left a:hover{
    background-color:  #235341 ;
}
#right{
    width: 60%;
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
}
#mapaBandeira{
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: 2;
}
 .blob {
    background: rgba(19, 108, 120, 0.45);
    border-radius: 100%;
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse 2s infinite;
} 
@keyframes pulse {
	0% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(10, 125, 166);
	}

	70% {
        transform: scale(1);
		box-shadow: 0 0 0 50px rgba(8, 2, 120, 0);
	}
    
	100% {
        transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(195, 5, 238, 0);
	}
} 
#trianguloBandeira{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#circuloBandeira{
    width: 40%;
    height:70%;
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 2;
}
nav{
    width: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right:20px;
    z-index: 3;
}
nav a{
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    border-radius: 100px;
    background-color: cyan;
}
/* FIM HEADER */
article{
    width: 100%;
    display: flex;
}
#estaticas{
    width: 40%;
    height: 745.5px;
    background-color: #235341;
}
#videos{
   width: 60%;
   display: flex;
   justify-content: center;
   gap: 25px;
   flex-wrap: wrap;
}
h2{
    width: 85%;
    font-size: 35px;
    text-align: center;
    color: #284CB2;
}
.informativo{
    width: 300px;
    height: 300px;
}
.informativo video{
    border-radius: 10px;
    width: 100%;
    height: 80%;
    background-color: #284db2c9;
}
.navegacao{
    width: 30%;
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
}
.circulo{
    width: 100%;
    height:70%;
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 2;
}
/* FIM INFORMATIVO */
section{
    display: flex;
    width: 100%;
}
#txt{
    width: 35%;
    margin:80px 0px;
    background-color: #FFE000;
}
#txt p{
    width: 90%;
    margin: auto;
    font-size: 26px;
}
#nos{
    width: 70%;
    height: 745.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.equipe{
    width: 30%;
    height: 315px;
    border-radius: 20px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(140deg,#00416A,#799F0C,#FFE000);
}
.grupo{
    width: 90%;
    height: 250px;
    border: 2px solid;
    border-radius: 20px;
}
footer{
    width: 100%;
    height: 745.5px;
    display: flex;
}
#rodape-esquerda{
    width: 45%;
    height: 745.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rodape-esquerda img{
    width: 600px;
    height: 500px;
}
#rodape-esquerda p{
    width: 80%;
    margin: auto;
    color: #228B22;
    font-size: 40px;
    font-weight: 600;
}
#rodape-esquerda div{
    width: 80%;
    height: 70px;
    text-align: left;
}
#rodape-esquerda span{
    margin-right: 10px;
    color: #228B22;
    font-size: 20px;
}
#barra{
    border-right: 2px solid;
}
#rodape-direita{
    width: 50%;
}
#rodape-direita h3{
    color: #228B22;
    font-size: 28px;
    margin-top: 15px;
}
aside{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
aside div{
    border: 2px solid;
    width: 45%;
    height: 80%;
    border-radius: 17px;
}
#txt-contatos{
    width:100%;
    margin-top: 20px;
    font-size: 20px;
}
#txt-contatos p{
    margin-bottom: 25px;
}
#txt-contatos span{
    color: #228B22;
    font-weight: 800;
}
