@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(../Images/Icons.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
            /* Estlizando o menu */
